*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
display: flex;
background-color: blue;
padding: 20px;
margin: 25px;
border: solid black 4px;
justify-content: space-evenly;
align-items: center;
align-content: center;
/* flex-direction: column; */
}


.container2 {
    display: flex;
    background-color: rgb(199, 199, 242);
    /* padding: 20px; */
    /* margin: 25px; */
    border: solid black 4px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column; /*makes background wide*/
    }

    .container3 {
        display: flex;
        background-color: rgb(199, 199, 242);
        /* padding: 20px; */
        /* margin: 25px; */
        border: solid black 4px;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        flex-direction: column; /*makes background wide*/
        }




.box {
    display: flex;
    width: 400px;
    height: 200px;
    border: solid rgb(7, 226, 22) 25px;
    text-align: center;
    justify-content: center;
    align-items: center
}

.parent {
    display: flex;
    justify-content: space-between;
    margin: 200px;
    /* background-color: black; */
}

/* .bars { */
    /* justify-content: center; */
    /* flex-wrap: nowrap; */
}

/* class model .container2 {
flex-direction: column;
background-color: aqua;
border: solid black;
justify-content: center;
padding: 20px;
margin: 20px;
align-items: center;
display: flex;
text-align: center;
} */

